.delete-form {
  display: inline;
}

.text-center {
  text-align: center;
}

.user-form {
  max-width: 330px;
  margin: 0 auto;
}

.cap-name {
  text-transform: capitalize;
}

.campground-attribution {
  font-style: italic;
}

.review {
  font-size: 0.8em;
}
