.delete-form {
  display: inline;
}

.text-center {
  text-align: center;
}

.user-form {
  max-width: 330px;
  margin: 0 auto;
}

.cap-name {
  text-transform: capitalize;
}

.campground-attribution {
  font-style: italic;
}

.review {
  font-size: 0.8em;
}

.cg-jumbo {
  background: linear-gradient(
     rgba(20,20,20, .3),
     rgba(20,20,20, .3)),
     url(/images/bg/adrian-393713-unsplash.jpg);
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center center;
   color: white;
}
